body {
  background-color: #0c0c0c;
  margin: 0;
}
/***************************************** Nav bar **************************************'*/
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#logo {
  height: 70px;
  width: 70px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

label {
  display: none;
}

input[type="text"] {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 400px;
}

select {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

#btn-add-movie {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
#btn-add-movie:hover {
  background-color: #1a2a6c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

/***************************************** Grid container **************************************'*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}

.grid-item {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  height: 275px;
  width: 185px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.grid-item:hover {
  transform: scale(1.1);
  text-align: center;
  padding: 20px;
  font-size: 30px;
  height: 275px;
  width: 185px;
  cursor: pointer;
}

.item1 {
  grid-column: 1 / span 6;
  grid-row: 1 / span 2;
  background-color: #1a2a6c;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.item2 {
  background-color: #daa520;
}

.item3 {
  background-color: #cc5500;
}

.item4 {
  background-color: #daa520;
}

.item5 {
  background-color: #cc3333;
}

.item6 {
  background-color: #daa520;
}

.item7 {
  background-color: #cc5500;
}

.item8 {
  background-color: #daa520;
}

.item9 {
  background-color: #cc3333;
}

.item10 {
  background-color: #daa520;
}

.item11 {
  background-color: #cc5500;
}

.item12 {
  background-color: #daa520;
}

.item13 {
  background-color: #cc3333;
}

.item14 {
  background-color: #daa520;
}

.item15 {
  background-color: #cc5500;
}

.item16 {
  background-color: #daa520;
}
.item17 {
  background-color: #cc3333;
}
.item18 {
  background-color: #daa520;
}
.item19 {
  background-color: #cc5500;
}
