/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Ysabeau:wght@1;100;200;300;500;700&display=swap");

/* ===== ROOT VARIABLES ===== */
:root {
	/* Font */
	--font-family: "Ysabeau", cursive;
	--font-size-normal: 1em;
	--font-size-small: 0.8em;
	--font-size-large: 1.3em;
	--font-size-xlarge: 2em;
	--font-size-xxlarge: 2.5em;
	--font-weight-normal: 300;
	--font-weight-bold: 500;
	--font-weight-bolder: 700;
	--font-weight-light: 200;
	--font-weight-lighter: 100;
	--line-height: 1.3em;

	/* Colors */
	--primary-color: #ffffff;
	--secondary-color: #333333;
	--secondary-color-darker: #111111;
	--tertiary-color: #f3f3f3;
	--accent-color: #186e82;
	--text-color: #f0f0f0;
	--invalid-color: #d31818;
	--valid-color: #18d33d;

	/* Borders */
	--border-radius: 1em;
	--border-solid: 1px solid #9a9a9a;
	--border-none: none;

	/* Effects */
	--transition-transform: transform 0.4s ease-in-out;
	--scale-on-hover: scale(1.05);
	--box-shodow: 0 0 10px var(--secondary-color);
}

/* ===== RESET ===== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ===== GENERAL STYLING ===== */
body {
	/* background-color: var(--secondary-color); */
	background-image: linear-gradient(to bottom right, #121212, #3c3c3c, #121212);
	background-size: 100vw 10000px;
	font-family: var(--font-family);
	color: var(--text-color);
	line-height: var(--line-height);
	overflow-x: hidden; /* might be unnecessary later */
}

main {
	min-height: 1000px;
	transition: 0.5s;
}

header {
	background-color: var(--secondary-color);
	padding: 1em;
	vertical-align: middle;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow: 0px 5px 10px black;
}

footer {
	background-color: var(--secondary-color);
	padding: 1em;
	margin-top: 2em;
	vertical-align: middle;
	text-align: center;
	z-index: 99;
	box-shadow: 0px -5px 10px black;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

a:hover {
	color: var(--accent-color);
}


/* ===== NAV BAR STYLING ===== */
nav {
	width: 95%;
	min-height: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	display: flex;
	align-items: center;
	transition: 0.5s;
	
}

.logo i {
	font-size: 2em;
	color: var(--primary-color);
	transition: var(--transition-transform);
	margin-right: 0.5rem;
}

.logo i:hover {
	transform: var(--scale-on-hover);
}


.sort-container {
	/* grid-area: sort; */
	/* margin-left: 1em; */
	text-transform: capitalize;
	margin: 0px;
}

.sort-container label {
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-light);
	margin: 0px;
}

#btn-add-movie {
	grid-area: add-movie;
	/* position: absolute; */
	/* right: 2em; */
}

.search-bar-container {
	display: flex;
	align-items: center;
	justify-content: right;
	position: relative;
	width: 30%;
	min-width: 18rem;
	height: 2em;
}

#search-bar {
	min-width: 200px;
	width: 60%;
	height: 100%;
	padding-left: 1em;
	padding-right: 8em; /* to accommodate the filter container */
	border: 1px solid var(--secondary-color);
	border-radius: 0.5em;
	transition: 1s ease-in-out;
}

#search-bar:focus {
	outline: none;
	width: 100%;
}

.filter-container {
	position: absolute;
	right: 0;
	top: 0;
	width: 8em;
	height: 100%;
}

.filter-container select {
	width: 71.5%;
	height: 100%;
	border: 1px solid var(--secondary-color);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.search-bar-container label,
.filter-container label,
.sort-container label {
	width: fit-content;
	margin-bottom: 0;
}

.search-bar-container input {
	margin: 0;
}

.sort-container label {
	color: var(--primary-color);
	margin-bottom: 0.4em;
}
.filter-container label {
	color: var(--secondary-color);
	margin-bottom: 0.4em;
}

/* ===== TOP MOVIE ===== */
.top-movie-class {
	/* aspect-ratio: 3 / 1; */
	position: relative;
	background-color: black;
	height: 25em;
	margin-top: 4em;
	margin-bottom: 2em;
	text-align: center;
	box-shadow: 0px 5px 10px var(--secondary-color-darker);
}

.top-movie-class iframe {
	position: absolute;
	width: 60%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.5s;

	/* aspect-ratio: 16 / 9; */
}

.top-movie-class img {
	position: absolute;
	width: auto;
	height: 10rem;
	left: 20%;
	top: 60%;
	z-index: 9;
	transform-origin: bottom left;
	transform: scale(1.5);
	transition: 1s;
	border-top-right-radius: var(--border-radius);
}

.top-movie-class img:hover {
	opacity: 0.25;
	pointer-events: none;
}

/* ===== FORM STYLING ===== */

dialog h2 {
	font-size: var(--font-size-xxlarge);
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
	line-height: 1em;
}

form ::placeholder {
	color: var(--secondary-color);
	font-family: var(--font-family);
	font-size: var(--font-size-normal);
	font-weight: var(--font-weight-light);
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="url"]:focus {
	outline: none;
}

label,
input {
	display: inline-block;
	vertical-align: middle;
	background-color: var(--tertiary-color);
	font-size: var(--font-size-normal);
	font-weight: var(--font-weight-light);
	border: var(--border-solid);
	border-radius: var(--border-radius);
	padding: 0.25em 0.5em;
	margin-bottom: 10px;
	width: 70%;
	height: 1.5em;
}

label {
	background-color: transparent;
	border: var(--border-none);
	width: 10em;
}

label[for="in-cinema-yes"],
label[for="in-cinema-no"] {
	display: inline-block;
	margin-right: 10px;
}

input[type="radio"] {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.invalid {
	border: 1px solid var(--invalid-color);
	box-shadow: 0 0 0 1px var(--invalid-color);
}

.valid {
	border: 1px solid var(--valid-color);
	box-shadow: 0 0 0 1px var(--valid-color);
}

button:disabled {
	cursor: not-allowed;
	background-color: var(--invalid-color);
}

select,
input[type="submit"],
button {
	position: relative;
	background-color: var(--accent-color);
	color: var(--primary-color);
	border: none;
	border-radius: 0.5em;
	padding: 0.25em 0.5em;
	font-size: 1em;
	font-weight: 200;
	cursor: pointer;
	height: 2em;
	width: fit-content;
	text-align: center;
	transition: 0.2s;
}

button:hover {
	transform: var(--scale-on-hover);
	background-color: #1b788d;
}

button:active {
	transform: scale(0.9);
	background-color: #2abada;
}

form > input[type="submit"],
form > button {
	margin-top: 1em;
	width: 100%;
}

/* Style the dropdown menu */
select option {
	background-color: var(--accent-color);
	color: var(--primary-color);
	font-size: var(--font-size-normal);
}

/* Position the dropdown menu */
select:focus ~ select option {
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 2px;
	width: 100%;
	z-index: 1;
	
}

/* ====== GRID STYLING ===== */
.grid-container {
	display: grid;
	gap: 2em;
	padding: 0em 2em;
}

.grid-item {
	cursor: pointer;
	transition: var(--transition-transform);
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: relative;
	animation: fadeIn 0.4s;
	border-radius: var(--border-radius);
	transition: 0.5s;
}

.grid-item:hover {
	transform: var(--scale-on-hover);
	box-shadow: 5px 5px 10px rgb(24, 24, 24);
}
.grid-item:hover .grid-item-text {
	opacity: 1;
}

.grid-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid-item-text {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	padding: 0.5em;
	opacity: 0;
	transition: opacity 0.3s ease;
	background: rgba(75, 75, 75, 0.46);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(2.8px);
	-webkit-backdrop-filter: blur(2.8px);
	/* border-top: 1px solid rgba(147, 147, 147, 0.48); */
}

/* MODAL STYLING */
.modal {
	background-image: linear-gradient(to bottom right, #121212, #3c3c3c, #121212);
	z-index: 100;
	margin: auto auto auto auto;
	max-width: 70rem;
	max-height: 90vh;
	padding: 1em;
	color: var(--text-color);
	/* background-color: var(--secondary-color); */
	border-radius: var(--border-radius);
	border: var(--border-solid);
	overflow-x: hidden;
	animation: fadeIn 0.3s;
	box-shadow: 10px 5px 20px var(--secondary-color);
}

#btn-close-modal {
	float: right;
}

.modal-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1em;
}

.modal-content h2 {
	font-size: var(--font-size-xxlarge);
	font-weight: var(--font-weight-bold);
	margin-bottom: 0.5em;
	text-align: center;
	text-transform: capitalize;
}

#movie-actor-list li {
	list-style-type: none;
	padding: 0;
}

.movie-details-top {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
}

.movie-details-top .right {
	text-align: center;
}

.movie-details-middle {
	display: grid;
	grid-template-columns: 30% 70%;
	margin-bottom: 0.5em;
	gap: 1em;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.movie-details-middle img {
	width: 100%;
	border-radius: var(--border-radius);
}

.movie-details-middle .iframe-wrapper {
	margin-right: 1rem;
}

.movie-details-middle iframe {
	width: 100%;
	height: 99%;
	border: none;
	border-radius: var(--border-radius);
}

.movie-details-bottom {
	margin-bottom: 0.5em;
	max-width: 700px;
	text-align: center;
}

#form-delete-movie {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1em;
}

#dialog-delete-movie-title {
	text-align: center;
	margin-bottom: 0.5em;
}

.hidden {
	display: none;
}
#form {
	max-width: 40rem;
}

#form label {
	font-weight: bolder;
}

.btn-wrapper {
	max-width: 12rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	text-align: center;
}

.update-feedback-grid {
	max-width: 40rem;
}

.update-feedback-bottom img {
	width: 100%;
	border-radius: var(--border-radius);
}
.update-feedback-bottom iframe {
	width: 100%;
	height: 92%;
	border: none;
	border-radius: var(--border-radius);
}

.update-feedback-grid .iframe-wrapper {
	margin-right: 1rem;
}

.update-feedback-top {
	display: grid;
	grid-template-columns: 1fr;
}
.update-feedback-middle {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 1rem;
}
.update-feedback-bottom {
	display: grid;
	grid-template-columns: 30% 70%;
	margin-top: 1rem;
	gap: 1rem;
}

/* ====== ANIMATIONS ===== */

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0.7);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* MEDIA QUERIES */

@media (max-width: 479px) {
	.grid-container {
		grid-template-columns: repeat(1, 1fr);
	}

	.grid.item {
		width: 13rem;
	}

	.top-movie-class img {
		transform: scale(0.8);
	}
}

@media (min-width: 480px) {
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
	}
	.top-movie-class img {
		transform: scale(1.2);
	}
}

@media (min-width: 769px) {
	.grid-container {
		grid-template-columns: repeat(3, 1fr);
	}
	.top-movie-class img {
		transform: scale(1.5);
	}
}

@media (min-width: 1025px) {
	.grid-container {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1201px) {
	.grid-container {
		grid-template-columns: repeat(5, 1fr);
	}
}
