body {
  background-color: #0c0c0c;
  margin: 0;
  overflow-x: hidden;
}
/***************************************** Nav bar **************************************'*/
.nav-container {
  display: flex;
  z-index: 99;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#logo {
  height: 70px;
  width: 70px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

label {
  display: none;
}

input[type="text"] {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 400px;
}

select {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

#btn-add-movie {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
#btn-add-movie:hover {
  background-color: #1a2a6c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}


/***************************************** Top movie div **************************************'*/

.top-movie-div {
  background-color: #1a2a6c;
  margin-top: 90px;
  margin-bottom: 30px;
  padding: 200px;
  text-align: center;
}

/***************************************** Grid container **************************************'*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

.grid-item {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  height: 275px;
  width: 185px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.grid-item:hover {
  transform: scale(1.02);
  text-align: center;
  padding: 20px;
  font-size: 30px;
  height: 275px;
  width: 185px;
  cursor: pointer;
}

.grid-item:nth-child(even){
  background-color: #cc3333;
}

.grid-item:nth-child(odd){
  background-color: #daa520;
}


/***************************************** Media Queries **************************************'*/

@media (min-width: 560px){
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 760px){
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px){
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1270px){
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1550px){
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1850px){
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 2000px){
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 2250px){
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 2500px){
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}